/* ========================================
   FONT AND SPACING SYSTEMS
======================================== */
/*  -FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 */
/*  -SPACING SYSTEM (px)
       2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 132 / 136 / 138/ 142 */

/* ========================================
   COLORS
======================================== */
/* #1D1D1E */
/* #25282E */
/* #e2e8f0 */

:root {
  --primary-blue: #0284c7;
  --secondary-blue: #1d4ed8;
  --tertiary-blue: red;
  --primary-light: #e2e8f0;
  --secondary-light: #fff;
  --primary-text: #333;
  --secondary-text: #555;
  --tertiary-text: red;
  --action-light: #1e3a8a;
  --action-dark: #172554;
}

/* ========================================
   RESET STYLES & HTML AND BODY STYLES
======================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: var(--primary-light);
  color: var(--secondary-text);
  overflow-x: hidden;
}

/* ========================================
   HEADER & NAV STYLES
======================================== */

.header {
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e2e8f0;
  height: 9.6rem;
  padding: 0 4.8rem;
  z-index: 9999;
}

.logo:link,
.logo:visited {
  font-size: 2.4rem;
  font-weight: 900;
  color: var(--primary-blue);
  text-decoration: none;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: var(--primary-text);
  font-weight: 700;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--secondary-blue);
}

/* ========================================
   MOBILE NAV STYLES
======================================== */

.burger-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: var(--action-dark);
  margin: 6px 0;
}

/* ========================================
   HERO SECTION STYLES
======================================== */

.hero {
  max-width: 130rem;
  height: 100vh;
  display: grid;
  margin: 0 auto;
  padding: 14.2rem 3.2rem;
  grid-template-columns: 1fr 90rem;
  align-items: center;
}

.hero-left-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.section-name-text {
  position: fixed;
  top: 700px;
  left: 50px;
  z-index: 10;
  font-size: 3.6rem;
  color: var(--primary-light);
  opacity: 0;
  font-weight: 700;
  text-transform: uppercase;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left bottom;
  transition: opacity 0.4s;
}

.hero-left-box svg {
  z-index: 0;
  position: fixed;
  left: 350px;
  width: 450px;
  height: 700px;
  transform: scale(0.9);
}

#blobSvg {
  display: flex;
}
.blob {
  transition: transform 0.35s ease-in-out;
}

.hero-right-box {
  padding: 0 4.8rem;
}

.heading-primary {
  font-size: 9.4rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 3px;
  background: -webkit-linear-gradient(120deg, #2dd4bf, #1d5490);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-right-desc {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.hero-right-links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.hero-btn:link,
.hero-btn:visited {
  z-index: 1001;

  fill: var(--secondary-text);
  text-decoration: none;
}

.hero-btn:hover,
.hero-btn:active {
  fill: #0284c7;
}

/* ========================================
   ABOUT SECTION STYLES
======================================== */

.section-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  padding: 18.2rem 2rem 34rem 2rem;
  max-width: 120rem;
  margin: 0 auto;
  align-items: center;
}

.about-skill-list {
  justify-self: center;
  text-align: right;
}

.about-skill-list h3 {
  font-size: 4.4rem;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: var(--primary-text);
  margin-bottom: 9.6rem;
}

.about-skill-heading {
  font-size: 3rem;
  color: var(--primary-blue);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 0.6rem 0;
  font-weight: 900;
}
.about-skill-list > div:nth-child(2) .about-skill-heading {
  margin: 8rem 0 0.6rem 0;
}

.skills {
  list-style: none;
  font-size: 2.4rem;
  text-transform: uppercase;
  line-height: normal;
  font-weight: 700;
  padding-left: 2rem;
}

.subheading {
  font-size: 4.8rem;
  margin-bottom: 15px;
}

.about-text {
  font-size: 2rem;
  line-height: 3.6rem;
  margin-bottom: 24px;
}

/* ========================================
   PROJECTS SECTION STYLES
======================================== */

.section-projects {
  padding: 18.2rem 2rem 34rem 2rem;
}

.project-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.project-img-box::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  content: '';
  display: block;
  width: 70%;
  padding-bottom: 70%;
  border-radius: 50%;
  background-color: var(--primary-blue);
}

.project-img-box::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  content: '';
  display: block;
  width: 60%;
  padding-bottom: 60%;
  border-radius: 50%;
  background-color: var(--secondary-blue);
}

.project-img {
  width: 80%;
}
.project-description {
  font-size: 1.8rem;
  line-height: 1;
  margin-bottom: 3.2rem;
}
.project-icons {
  padding: 0 1.6rem;
  display: flex;
  align-items: center;
  justify-content: end;
}
.project-icons a:link,
.project-icons a:visited {
  fill: var(--action-dark);
  color: var(--action-dark);
}

.project-icons a:hover,
.project-icons a:active {
  fill: var(--action-light);
  color: var(--action-light);
}
.project-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  text-decoration: none;
}
.project-icon span {
  font-size: 1.6em;
  font-weight: 600;
}

/* ========================================
   CV SECTION STYLES
======================================== */

.cv-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  gap: 4rem;
  overflow: hidden;
  margin-bottom: 14.2rem;
}

.cv-content::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 70%;
  z-index: -1;
  transform: translate(-50%, -50%);
  background: linear-gradient(-120deg, #0284c7, #1e3a8a);
  border-radius: 10px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.cv-image {
  width: 36rem;
}

.cv-image img {
  width: 85%;
  height: auto;
}

.cv-button:link,
.cv-button:visited {
  display: inline-block;
  padding: 1.5rem 3rem;
  background: linear-gradient(45deg, #172554, #1e3a8a);
  color: var(--secondary-light);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 25px;
}

.cv-button:hover,
.cv-button:active {
  background: linear-gradient(45deg, #1e3a8a, #274eb9);
}
.section-cv {
  padding: 18.2rem 2rem 12rem 2rem;
}

/* ========================================
   FOOTER STYLES
======================================== */

footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  text-align: center;
  position: relative;
  z-index: 10;
  border-bottom: 5px solid var(--primary-blue);
}
footer div {
  font-size: 1.6rem;
  padding: 1.6rem 4.8rem;
}
footer strong {
  text-transform: uppercase;
  font-weight: 900;
}

.back-to-top,
.footer-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text);
  text-decoration: none;
}
.footer-name strong {
  margin-left: 10px;
}

.btt-icon {
  margin-left: 0.6rem;
  width: 20px;
  height: 36px;
}

@media (max-width: 600px) {
  footer {
    grid-template-columns: 1fr;
  }
  .back-to-top-container {
    order: -1;
  }
}

/* ========================================
   REUSABLE CLASSES
======================================== */

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  gap: 9.6rem 6.4rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-tertiary {
  color: var(--primary-text);
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  color: var(--primary-text);
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-blue);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 1px;
}

/* ========================================
   MEDIA QUERIES
======================================== */

@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: rem 1.6rem;
  }

  .hero-left-box {
    justify-content: center;
  }

  .hero-right-box {
    margin-bottom: auto;
    text-align: center;
    padding: 0;
  }

  .heading-primary {
    font-size: 4rem;
  }

  .hero-btn svg {
    width: 30px;
    height: 30px;
  }

  .burger-icon {
    display: flex;
  }

  .main-nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 8rem 0;
    background-color: var(--primary-light);
    z-index: 999;
  }

  .main-nav-list.show {
    display: flex;
  }

  .main-nav-list.show li {
    padding: 2rem 0;
  }

  .main-nav-list.show a {
    font-size: 2.4rem;
  }

  .section-about {
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }

  .about-img-box {
    justify-content: center;
  }

  .about-container {
    max-width: 100%;
    text-align: start;
    margin-top: 2rem;
  }
}

@media (max-width: 1024px) {
  .hero {
    padding-top: 0;
  }
  .heading-primary {
    font-size: 4rem;
    letter-spacing: normal;
    margin-bottom: 1rem;
  }
  .hero-right-desc {
    font-size: 2.4rem;
  }
  .hero-right-links {
    width: fit-content;
    margin: 0 auto;
  }
  .hero-btn {
    padding: 0 0.8rem;
  }
}

@media (max-width: 2050px) {
  .hero-left-box svg {
    left: 250px;
  }
}

@media (max-width: 1860px) {
  .hero-left-box svg {
    left: 150px;
  }
}

@media (max-width: 1660px) {
  .hero-left-box svg {
    left: 50px;
  }
}

@media (max-width: 1460px) {
  .hero-left-box svg {
    left: 0px;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 14.2rem 1.6rem;
  }

  .hero-left-box {
    display: none;
  }

  .hero-right-box {
    margin-bottom: auto;
    text-align: center;
    padding: 0;
    grid-column: 1 / span 1;
  }
  .hero-right-links {
    width: fit-content;
    margin: 0 auto;
  }

  .hero-btn {
    padding: 0 0.8rem;
  }
  #sectionName {
    display: none;
  }
}
/* fdsdsd */
.section-projects {
  padding: 6rem 0;
}

#projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.project-text-box,
.project-img-box {
  text-align: center;
  padding: 5rem 0;
}

.project-img {
  max-width: 100%;
  height: auto;
}

.project-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.project-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.project-icon svg {
  margin-right: 0.5rem;
}

@media (min-width: 769px) {
  #projectsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 698px) {
  .project-text-box {
    margin: -4rem 0 4rem 0;
  }

  .order-mobile-1 {
    order: 1;
  }
  .order-mobile-2 {
    order: 2;
  }
  .order-mobile-3 {
    order: 3;
  }
  .order-mobile-4 {
    order: 4;
  }
  .order-mobile-5 {
    order: 5;
  }
  .order-mobile-6 {
    order: 6;
  }
}

@media (max-width: 768px) {
  .cv-content {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin-bottom: 6rem;
  }

  .cv-image {
    width: 100%;
    padding: 3.4rem 1rem 1rem 1rem;
  }

  .cv-download {
    width: 100%;
    margin-bottom: 4rem;
  }

  .cv-content::before {
    height: 100%;
    width: 70%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cv-content {
    padding: 0 5rem;
  }
}
